---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>About2</h1>
			<p>
				Bienvenido a mi prueba1 <a href="https://astro.build/">Astro</a> así se verá mi nueva página.
			</p>
		</main>
		<Footer />
	</body>
</html>
