---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<a href="/">Inicio</a>
			<a href="/about/">Servicios</a>
			<a href="/about/">Sorteo</a>
			<a href="/about/">Directorio Médico</a>
			<a href="/about/">Contactos</a>
			<h1>Se parte de un gran Sorteo por nuestra reinauguración</h1>
			<p>
				Completa el formulario <a href="https://astro.build/">Inscríbete</a>
			</p>
			<ul>
				<li><a href="/posts/post-1/">Post 1</a></li>
				<li><a href="/posts/post-2/">Post 2</a></li>
				<li><a href="/posts/post-3/">Post 3</a></li>
			  </ul>
		</main>
		<Footer />
	</body>
</html>
